Julia Kang - jkang613@gmail.com - AMLI 2019 - Mills College

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
# from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from math import sqrt #for RMSE
  
import tensorflow as tf 
from tensorflow.feature_column import numeric_column,categorical_column_with_hash_bucket,categorical_column_with_vocabulary_list
from tensorflow.estimator import LinearClassifier
from tensorflow import keras
from tensorflow.data import Dataset

## Model: Multilayer Perception Neural Network

In [2]:
# raw_df = pd.read_csv('numeric_rand_sample.csv')
raw_df = pd.read_csv('choice_features.csv')
raw_df = raw_df.drop('Unnamed: 0', axis = 1) 

raw_df.head() #ad id is unique to each row
# len(sub_df)

,click,C1,banner_pos,site_domain,site_category,app_domain,app_category,device_id,device_ip,device_model,...,C15,C16,date,time,user_id,device_ip_count,device_id_count,user_count,user_hour_count,user_bagged
0,0,1005,0,227,3,12,0,438,1599,138,...,320,50,0,0,1681,2,2,2,95,232
1,0,1005,1,7,12,12,0,438,611,393,...,320,50,0,0,638,30,30,30,95,232
2,0,1005,0,225,4,15,2,438,1212,505,...,320,50,0,0,1264,1499,1499,1499,95,255
3,0,1005,0,125,3,12,0,438,1034,373,...,300,250,0,0,1081,97,97,97,95,232
4,0,1005,0,227,3,12,0,438,3474,746,...,320,50,0,0,3663,2,2,2,95,232

In [3]:
FEATURES = []

for col in raw_df.columns:
    if np.issubdtype(raw_df[col].dtypes , np.number):
        FEATURES.append(col)
FEATURES.remove('click')
TARGET = 'click'

In [4]:
# split the data into test and train
train, test  = train_test_split(
  raw_df,                        # split our digits dataframe
  stratify=raw_df[TARGET],       # stratify by the 'click' column   
  test_size=0.2,                # 20% of the data should be held for testing
  random_state=42               # hard-coded random state for repeatability in the example
)

train.head()

,click,C1,banner_pos,site_domain,site_category,app_domain,app_category,device_id,device_ip,device_model,...,C15,C16,date,time,user_id,device_ip_count,device_id_count,user_count,user_hour_count,user_bagged
4114,0,1005,0,225,4,3,12,438,931,406,...,320,50,9,18,963,1499,1499,1499,170,148
1250,0,1002,0,274,4,12,0,266,2147,564,...,320,50,2,14,1724,1,1,1,211,232
3862,0,1005,1,83,12,12,0,438,1613,123,...,320,50,9,7,1694,24,24,24,174,232
2094,1,1005,0,275,1,12,0,438,451,864,...,320,50,5,2,479,720,720,720,136,232
670,1,1005,0,225,4,7,2,543,922,67,...,320,50,1,10,3449,1499,1499,1499,232,248

In [5]:
feature_columns = []

for col in FEATURES:
    feature_columns.append(numeric_column(col, dtype=tf.dtypes.int64))

In [6]:
#train
train_tf_x = []
for col in FEATURES:
    train_tf_x.append(train[col])
    
train_x = np.asarray(train_tf_x)
train_x = np.transpose(train_x)

train_y = np.asarray(train['click'])

#train
test_tf_x = []
for col in FEATURES:
    test_tf_x.append(test[col])
    
test_x = np.asarray(test_tf_x)
test_x = np.transpose(test_x)

test_y = np.asarray(test['click'])

print('Training features:', train_x.shape)
print('Training labels:', train_y.shape)
print('Test features:', test_x.shape)
print('Test labels:', test_y.shape)

Training features: (3347, 21)
Training labels: (3347,)
Test features: (837, 21)
Test labels: (837,)

In [7]:
# Define the model by specifying a neural network layers

# LOOK INTO CLASS WEIGHTS

model = tf.keras.Sequential([
    
    #input layer 1
    tf.keras.layers.Dense(19,input_shape=(len(FEATURES),),activation=tf.nn.tanh),
    
    # Layer 2
#     tf.keras.layers.Dense(16, activation=tf.nn.sigmoid),
    
    # Layer 2
    tf.keras.layers.Dense(12, activation=tf.nn.tanh),
    
    # output
    tf.keras.layers.Dense(1, activation=tf.nn.sigmoid) 
])

# Set model's settings, including loss function, optimizer, and metrics

model.compile(
    optimizer = 'adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [8]:
model.fit(train_x, train_y,epochs=10, batch_size=10000, shuffle=True)

# loss: 0.4559 - acc: 0.8300 - when using all sigmoids and 4 layers
# loss: 0.4698 - acc: 0.8300 - when using all sigmoid and decreasing number of nodes
# loss: 0.4584 - acc: 0.8300 - when using all sigmoid and there is only 3 layers

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
3347/3347 [==============================] - 0s 70us/sample - loss: 0.8285 - acc: 0.4168
Epoch 2/10
3347/3347 [==============================] - 0s 2us/sample - loss: 0.8007 - acc: 0.4314
Epoch 3/10
3347/3347 [==============================] - 0s 2us/sample - loss: 0.7704 - acc: 0.4485
Epoch 4/10
3347/3347 [==============================] - 0s 1us/sample - loss: 0.7414 - acc: 0.4715
Epoch 5/10
3347/3347 [==============================] - 0s 2us/sample - loss: 0.7162 - acc: 0.5330
Epoch 6/10
3347/3347 [==============================] - 0s 1us/sample - loss: 0.6908 - acc: 0.5497
Epoch 7/10
3347/3347 [==============================] - 0s 1us/sample - loss: 0.6703 - acc: 0.5641
Epoch 8/10
3347/3347 [==============================] - 0s 2us/sample - loss: 0.6514 - acc: 0.6122
Epoch 9/10
3347/3347 [==============================] - 0s 3us/sample - loss: 0.6332 - acc: 0.6334
Epoch 10/10
3347/3347 [==============================] - 0s 2us/sample - loss: 0.6168 - acc: 0.6528